name: Run Main

on:
  schedule:
    - cron: "30 4 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Check out repository under $GITHUB_WORKSPACE, so the job can access it
    - uses: actions/checkout@v2.5.0

    # Run using Python 3.10.7 for consistency
    - name: Set up Python 3.10.7
      uses: actions/setup-python@v4.3.0
      with:
        python-version: '3.10.7'
        architecture: 'x64'

    # Cache dependencies. From:
    # https://github.com/actions/cache/blob/master/examples.md#python---pip
    - uses: actions/cache@v3.0.11
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    # Install dependencies with `pip`
    - name: Install requirements
      run: |
        python3 -m pip install --upgrade pip setuptools wheel
        python3 -m pip install -r requirements.txt
    # Generate all statistics images
    - name: Run Main.py
      run: |
        python3 --version
        python3 src/main.py

    # Commit all changed files to the repository
    - name: Commit to the repo
      run: |
        git config --global user.name "BOT-Carter4242"
        git config --global user.email "115385416+BOT-Carter4242@users.noreply.github.com"
        git add .
        # Force the build to succeed, even if no files were changed
        git commit -m 'Update generated files' || true
        git push
